.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
}
.center{
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
